<!DOCTYPE html>
<html lang="en">
<title>Poop Jokes | Join</title>
<meta charset="UTF-8">
<head>
<link rel="icon" href="icon.png">
<meta name="google-site-verification" content="5uQS7qquRB_XsSVlfUliHcbExxJZ2lhnoLaJQ6o6eCk" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
<link rel="stylesheet" href="/style.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/join" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
		<a href="/docs" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Docs</a>
  </div>


</div>

<!-- Header -->
<header style="padding:100px 16px">
  <h1 class="w3-margin w3-center w3-jumbo">Poop Jokes API</h1>
  <p class="w3-xlarge w3-center">By Softsquirrel Studios</p>
	<hr>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-0 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Hilarious poop jokes!!</h1>
      <h5 class="w3-padding-32">With the poop joke API, you can share, report, and get hilarious poop jokes! To get your API key, scroll down below!</h5>
      <p class="w3-text-grey">"Wow, these poop jokes are hilarious!" - Client</p>
			 <br>
    </div>

    <div class="w3-third w3-center">
      <img src="https://image.flaticon.com/icons/png/512/2274/2274453.png" width="200px" height="200px" draggable="false">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
			<img src="https://www.freepnglogos.com/uploads/plus-icon/plus-icon-plus-svg-png-icon-download-1.png" draggable="false" width="200px" height="200px">
    </div>
    <div class="w3-twothird">
      <h1>Do More With Poop Jokes</h1>
      <h5 class="w3-padding-32">Joke API's are boring and un-original. So here at Softsquirrel Studios, we decided to make our own AND make it funnier by creating poop joke API! Other Joke API's don't provide poop jokes, but Poop Jokes API does! In fact, that's what it was made for!</h5>
      <p class="w3-text-grey">"Poop Joke API is the greatest API to have ever been made" - Bill Gates</p>
    </div>
  </div>
</div>
<div class="w3-row-padding w3-padding-0 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Free to use</h1>
      <h5 class="w3-padding-32">At Softsquirrel Studios, we believe that software should be free to use, or at a low price. That includes the Poop Joke API! Just fill in the form below, check your email, get your API key, and use the Poop Joke API!</h5>
        <p class="w3-text-grey">Get your API key today!</p>
			 <br>
    </div>

    <div class="w3-third w3-center">
      <img src="https://static.thenounproject.com/png/52823-200.png" width="200px" height="200px" draggable="false">
    </div>
  </div>
</div>
<br><hr>
<form method="POST" action="/email" class="center">
<p class="Font2">Get your API key today!</p>
<div class="form-group">
	<label>Email</label>
	<input name="Email" type="email" placeholder="Enter your Email Adress [Gmail]"/>
	<small class="text-muted">After entering your Email, go to your email</small>
</div>
<div class="form-group">
	<button class="button success">Submit data</button>
	<input type="button" class="button" value="Cancel">
</div>
</form>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge"><a href="https://github.com/Squirrelcoding/Poop-Joke-API">Github</a></h1>
</div>
</body>
</html>